body {
    background-color: #FF80AB;
}

#data {
    color: #FFFFFF;
    width: 50%;
    margin: auto;
    margin-top: 20vh;
    font-size: 3.75vh;
}

img {
    display: block;
    margin: auto;
    width: 20vw;
}

h1, h2 {
    text-align: center;
}

h1 {
    background-color: #03A9F4;
}

h2#temperature {
    color: #1A237E;
    cursor: pointer;
    background-color: #E8EAF6;
}
